*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
.kotlin
build
*/build
captures
xcuserdata/
Pods/
*.jks
*yarn.lock

/composeApp/release
/composeApp/debug
/composeApp/nightly

/fastlane/Appfile
/fastlane/.env
/fastlane/.env.default
/fastlane/report.xml
/fastlane/Preview.html
/fastlane/out
/fastlane/tmp

/flatpak/source

Package.resolved