<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultEnablement</key>
	<true/>
	<key>requiredOnboarding</key>
	<array>
		<string>Arrow Swipe</string>
		<string>Scroll Drag</string>
		<string>Trackpad Capture</string>
	</array>
</dict>
</plist>
